body{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    border: 2px solid;
    text-align: start;
    padding: 10px;
}
button{
    margin-left: 38%;
}